
.moodContainerHappy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #F9DB41;
    cursor: pointer;
}

.moodContainerHappy:hover {
    transform: scale(1.1);
  }

.moodContainerSad{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #B5C8FC;
    cursor: pointer;
}
.moodContainerSad:hover {
    transform: scale(1.1);
  }

.moodContainerRandom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #737B88;
    cursor: pointer;
}
.moodContainerRandom:hover {
    transform: scale(1.1);
  }
  .imgMood{
    height: 60px;
    width: 60px;
  }