.header {
        background-color: #56617F;
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
}
.title {
    color: white;
    font-size: 500%;
    font-family: 'Bauhaus 93';
    margin: .2%;
}
.text {
    font-family: 'Bahnschrift';
}
