.searcherContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searcher {
    color: #403f3f;
    text-align: center;
    font-size: 22px;
    font-family: 'Bahnschrift';
    padding: 5px;
    width: 100%;
    height: 60%;
    border-radius: 8px;
    background-color: #ffffff;
  }
  .searcher:hover {
    transform: scale(1.05);
  }