body {
    margin: 0;
    border: 0;
    padding: 0;
}

/*.headerStyle {
    background-color: #56617F;
    color: #ffff;
    height: 25%;
    width: 100%;
    display: "flex";
    justify-content: center;
}*/

.moodContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    }